.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.image {
  height: 40%;
  width: 80%;
}
.rating {
  font-size: 1rem;
}

.crud:focus {
  background-color: #6c757d;
  border-style: none;
  outline: none;
}
.crud:active {
  background-color: #6c757d;
  border-style: none;
  outline: none;
}
.activeBtn {
  background-color: #6c757d;
  border-style: none;
  outline: none !important;
}

/* .crud:active {
  background-color: red;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.products-container {
  height: 50vh;
  overflow: visible;
}

.rating-details-container {
  width: 100%;
}

.add-cart {
  background-color: #ff9f00;
  color: #ffffff;
}
.buy-now {
  background-color: #fb641b;
  color: #ffffff;
}

@media screen and (min-width: 576px) {
  .products-container {
    height: 95vh;
    overflow: visible;
  }
  .btn-container {
    width: 30%;
    max-width: 300px;
  }

  .rating-details-container {
    width: 50%;
  }

  .image {
    height: 30%;
    width: 30%;
  }
}

.icon {
  margin-right: 0.5rem;
}

.logo {
  font-size: 5rem;
  color: yellow;
}
.price-container {
  width: 35%;
}

.btn-container {
  width: 100%;
}
